In [2]:
# Q1 - Variables

In [20]:
## 1. Assign the value 9 to the variable x
x = 9

In [21]:
## 2. Assign the value 7 to the variable y
y = 7

In [22]:
## 3. Find the sum of x and y and assign to a new variable z
z = x + y
print(z)

16

In [24]:
## 4. Find the product of x and y and assignto a new variable z2
z2 = x * y
print(z2)

63

In [25]:
## 5. Find the ratio between x and y and assign to a new variable z3. What type of variable is z3?
z3 = x / y 
print(z3)

1.2857142857142858

In [19]:
## 6. Create a list of the first 5 square values and assign to the variable L.
L = [1, 4, 9, 16, 25]
print(L)

[1, 4, 9, 16, 25]

In [27]:
## 7. Create a string “MontyPythontheFlyingCircus” and assign to the variable x.
x = "MontyPythontheFlyingCircus"
print(x)
print(f"The string assigned to x is: {x}")

MontyPythontheFlyingCircus
The string assigned to x is: MontyPythontheFlyingCircus

In [28]:
# Q2 - Operators

In [39]:
## Basic arithmetic 
## 2.1.1. 
5 - 8

-3

In [31]:
## 2.1.2 
6 * 3

18

In [32]:
## 2.1.3. 
19 / 7

2.7142857142857144

In [33]:
## 2.1.4. remainder of 19 / 7 
19 % 7

5

In [34]:
## 2.1.5. integer result of 19 / 7
19//7

2

In [35]:
## 2.1.6. 
8 ** 2

64

In [36]:
## 2.1.7. 
6 ** 4

1296

In [37]:
## 2.1.8. 
(3+4) * 7

49

In [38]:
## 2.1.9. 
2**(4+7)

2048

In [42]:
## 2.2.1. add 3 to x, and assign to x
x = 10
x = x + 3
print(x)

13

In [43]:
## 2.2.2. divide x by 2, and assign to z 
z = x / 2
print(z)

6.5

In [44]:
## 2.2.3. given y = 5, calculate x * y and assign to x 
y = 5
x = x * y
print(x)

65

In [46]:
## 2.2.4. decrement x by 1 
x -= 1
print(x)

64

In [1]:
# Q3 - Lists, Tuples, Dictionaries, sets

In [3]:
## 3.1 Lists 
## 3.1.1. 
# Create a list of the first 5 prime numbers, and assign to L
L = [2, 3, 5, 7, 11]
print(L)

[2, 3, 5, 7, 11]

In [4]:
## 3.1.2. What's the first element of L
print(L[0])

2

In [5]:
## 3.1.3. Append (add) to the list the next 3 prime numbers
L.append(13)
L.append(17)
L.append(19)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19]

In [10]:
## 3.1.4. Get from L the last 5 elements
print(L[-5:])

[7, 11, 13, 17, 19]

In [11]:
## 3.1.5.  What's element 3 of L 
print(L[2])

5

In [14]:
## 3.1.6. Get every 2nd element from L, starting from the second element
print(L[1::2]) 
### :: syntax in Python is used for slicing lists (and other sequence types like strings and tuples).
### It allows you to extract a portion of the sequence by specifying a start index, an end index, and a step (stride).

[3, 7, 13, 19]

In [15]:
## 3.1.7. What's the length of the list?
len(L)

8

In [18]:
## 3.1.8. Create a copy of L and assign to L2
L2 = L[ : ]
print(L2)

[2, 3, 5, 7, 11, 13, 17, 19]

In [19]:
## 3.1.9. Replace element 7 of L2 with the value 88
L2[3] = 88
print(L2)

[2, 3, 5, 88, 11, 13, 17, 19]

In [20]:
## 3.1.10. Did you change the values in L?
#### yes
print(L2)

[2, 3, 5, 88, 11, 13, 17, 19]

In [21]:
## 3.2 Tuples
## 3.2.1. Create a tuple for two values: 3, 4, and assign to the variable x
x = (3,4) 
print(x)

(3, 4)

In [23]:
## 3.2.2. Create a tuple for two items: the value 3, and the string "Two", and assign to x  
x = (3, "Two")
print(x)

(3, 'Two')

In [24]:
## 3.2.3. Create a tuple for the first 5 positive odd integers
odd_integers = (1,3,5,7,9)
print(odd_integers)

(1, 3, 5, 7, 9)

In [32]:
## 3.2.4. Create a tuple to include a short two element list, a string, and a float number
tuple = ([1,2], "Hello", 3.14)
print(tuple)

([1, 2], 'Hello', 3.14)

In [35]:
## 3.2.5. Unpack the three items from the previous part into separate variable 
a, b, c = tuple
print(a)
print(b)
print(c)

[1, 2]
Hello
3.14

In [31]:
## 3.2.6. Can you think of a situation when you should use tuple for your data instead of a list?

###- Function Arguments and Return Values: When you want to return multiple values from a function and ensure they are not modified.
###- Immutable Data: When you need a collection of values that should remain constant throughout the program.
###- Dictionary Keys: Tuples can be used as keys in dictionaries since they are immutable, unlike lists.
###- Data Integrity: When you want to protect the data from accidental modification, using tuples can ensure the data integrity.

In [36]:
## 3.3 Dictionaries 
## 3.3.1. Create a dictionary mapping the first 5 numbers to their English word
number_words = {
    1: "one",
    2: "two",
    3: "three",
    4: "four",
    5: "five"
}
print(number_words)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [37]:
## 3.3.2. Create a dictionary apping the English words for number 1-5 to their French equivalent (or a language of your choice)
number_words_french = {
    "one": "un",
    "two": "deux",
    "three": "trois",
    "four": "quatre",
    "five": "cinq"
}

print(number_words_french)

{'one': 'un', 'two': 'deux', 'three': 'trois', 'four': 'quatre', 'five': 'cinq'}

In [41]:
## 3.3.3. Find the French word for 3 using the two dictinaries you created above

# Find the English word for the number 3
english3 = number_words[3]
# Find the French word for the English word "three"
french3 = number_words_french[english3]
print(french3)

trois

In [43]:
## 3.3.4. Add a new item in the first dictionary for the number 10. 
number_words[10] = "ten"
print(number_words)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 10: 'ten'}

In [44]:
## 3.4 Sets
## 3.4.1.  Create a set with the names of the Monty Pythons: Graham Chapman, John Cleese, Terry Gilliam, Eric Idle, Terry Jones, and Michael Palin
MontyPythons = {"Graham Chapman", "John Cleese", "Terry Gilliam", "Eric Idle", "Terry Jones", "Michael Palin"}
print(MontyPythons)

{'Eric Idle', 'Terry Jones', 'Terry Gilliam', 'John Cleese', 'Michael Palin', 'Graham Chapman'}

In [45]:
## 3.4.2. Create a new set with names of the Pythons who have passed away: Graham Chapman, Terry Jones
deceased = {"Graham Chapman", "Terry Jones"}
print(deceased)

{'Terry Jones', 'Graham Chapman'}

In [46]:
## 3.4.3. Use set operation to find the Pyhthons who are still alive
alive = MontyPythons - deceased
print(alive)

{'John Cleese', 'Eric Idle', 'Michael Palin', 'Terry Gilliam'}

In [47]:
## 3.4.4. Provide the Python code to find if "Carol CLeveland" is in the set of Monty Pythons
Search = "Carol CLeveland" in MontyPythons
print(Search)

False

In [48]:
# Q4 - Control Flow

In [ ]:
## 4.1 if Loops
## 4.1.1. If x is even, subtract 1 from x.

In [ ]:
## 4.1.2. If x is equal to y, print "finished"

In [ ]:
## 4.1.3. If x is negative, make it positive

In [ ]:
## 4.1.4. If x is equal to "degrees", convert y to radians, than compute sin(y), otherwise compute sin(y)

In [ ]:
## 4.1.5. If x is greater than y and y is greather z, print "sorted"

In [ ]:
## 4.1.6. If x is greater than 50 and y is equal to "residential" or x is greater than 100 and y is equal to "freeway", print "speeding", otherwise print "good speed".

In [ ]:
## 4.2 for Loops
## 4.2.1. Print the numbers 1 to 10, one number at a time

In [ ]:
## 4.2.2. Sum the numbers 1 to 10

In [ ]:
## 4.2.3. Count how many items in z = [12, 34, 45, 23, 16] are greater than x (Set x to your favourite number)

In [ ]:
## 4.2.4. Print a statement for every letter in ascii_lowercase stating that each letter is your favourite. The variable ascii_lowercase from the string library contains all the lower case letters of the alphebet.

In [ ]:
## 4.2.5. Print a statement for every letter in ascii_lowercase stating that each letter is your favourite. The variable ascii_lowercase from the string library contains all the lower case letters of the alphebet.

In [ ]:
## 4.3 while Loops
## 4.3.1. Print a list of numbers that are multiple of 10 smaller than 100

In [ ]:
## 4.3.2. Print random numbers generated using uniform(0,1) from the random library until a number is printed that is greater than 0.8. Break the code once you've printed 5 numbers.

In [ ]:
## 4.3.3. Sum the items in the list z = [12, 45, 47, 82, 9, 10

In [ ]:
## 4.3.4. Ask for user inputs of numbers, stop is the user inputs 0. (The function for user input is input())

In [ ]:
## 4.3.5. Find the factorial of a given number.

In [ ]:
# Q5 - Functions